body{
    font-family: "HiraginoSans-W0","Hiragino Sans","ヒラギノ角ゴシック"; font-weight: 100;
    background-size: cover;
    animation: bgchange 10s ease infinite;
}
.header{
    font-size: 20px;
    background-color: white;
    height: 35px;
}
/*headerの背景は白に変える*/
.button{
    text-align: center;
    margin-top: 400px;
}
a{
    display       : inline-block;
    border-radius : 25%;          /* 角丸       */
    font-size     : 14pt;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 12px 12px;   /* 余白       */
    background    : #ffffff;     /* 背景色     */
    color         : rgba(127, 127, 127, 0.95);     /* 文字色     */
    line-height   : 17pt;         /* 1行の高さ  */
    opacity       : 1;           /* 透明度     */
    transition    : .3s;         /* なめらか変化 */
    box-shadow    : 2px 2px 4px #666666;  /* 影の設定 */
  }

  .button:hover {
    box-shadow    : none;        /* カーソル時の影消去 */
    opacity       : 0.8;         /* カーソル時透明度 */
  }
  .button2{
    text-align: center;
    margin-top: 100px;
}
a{
    display       : inline-block;
    border-radius : 25%;          /* 角丸       */
    font-size     : 14pt;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 12px 12px;   /* 余白       */
    background    : #ffffff;     /* 背景色     */
    color         : rgba(127, 127, 127, 0.95);     /* 文字色     */
    line-height   : 17pt;         /* 1行の高さ  */
    opacity       : 1;           /* 透明度     */
    transition    : .3s;         /* なめらか変化 */
    box-shadow    : 2px 2px 4px #666666;  /* 影の設定 */
  }

  .button2:hover {
    box-shadow    : none;        /* カーソル時の影消去 */
    opacity       : 0.8;         /* カーソル時透明度 */
  }
  li{
      list-style: none;
  }
  .footer{
    background-color: white;
    height: 170px;
    padding: 12px;
    margin-top: 120px;
}
  li{
      list-style: none;
  }
  .footer{
    background-color: white;
    height: 170px;
    padding: 12px;
    margin-top: 120px;
}
.pagenumber{
    float: right;
    font-size: 50px;
}
@keyframes bgchange{
  0%   {background-image: url(5gradation.jpg);}/*変化させたい色*/
  15%  {background-image: url(5-1gradation.jpg);}/*変化させたい色*/
  45%  {background-image: url(5-2gradation.jpg);}/*変化させたい色*/
  75%  {background-image: url(5gradation.jpg);}/*変化させたい色*/
  85%  {background-image: url(5-2gradation.jpg);}/*変化させたい色*/
  100% {background-image: url(5gradation.jpg);}/*変化させたい色*/
}
